body {
    background-color: rgb(96, 9, 118);
    color: rgb(225, 196, 196);
}

.title-author {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
}

.paragraphs {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}